<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
    <!--<div ng-app="customers" ng-controller="customersCtrl">
        <ul>
            <li ng-repeat="c in customerProfiles">
                {{c.CustomerID + ', ' + c.CompanyName}}
            </li>           
        </ul>
    </div>
    <script>
        var app = angular.module('customers', []);
        app.controller('customersCtrl', function ($scope, $http) {
            $http({
                mode: 'cors',
                method: 'GET',
                url: 'bootstrap.service.com/BootstrapService.svc',
                header: { 'Content-Type': 'application/json' }
        })
                .success(function (response) {
                    $scope.customerProfiles = response.data.Companies;
                }, function (response) {
                    $scope.content = response.statusText;
                });
        });
    </script>-->

    <!--THIS WORKS-->
   
    <div ng-app="customers" ng-controller="customersCtrl">
        <h3><a href="https://www.w3schools.com/angular/customers.php" target="_blank">Json Data</a></h3>
        <ul>
            <li ng-repeat="x in myData">
                {{ x.Name + ', ' + x.Country }}
            </li>
        </ul>

    </div>

    <script>
        var app = angular.module('customers', []);
        app.controller('customersCtrl', function ($scope, $http) {
            $http.get("https://www.w3schools.com/angular/customers.php").then(function (response) {
                $scope.myData = response.data.records;
            });
        });
    </script>

</body>

</html>

