

.jumbotron {
    background-color: black !important;
    color: white !important;
}

.bg-green {
    background-color: lightgreen;
}

.bg-black {
    background-color: black !important;
}

.card-body {
    border-radius: 16px !important;
    background-color: lightgreen;
}

.dropdown-item.normal:hover {
    text-decoration: underline !important;
    text-decoration-color: darkgray !important;
}

.dropdown-item.normal:active {
    background-color: lightgreen !important;
}

.dropdown-item.normal {
    color: #212529 !important;
}

.dropdown-header {
    font-weight: bold !important;
}

button.btn-lg {
    background-color: green !important;
    border-color: green !important;
}

.light {
    background-color: white !important;
    color: black !important;
    text-align: center;
    font-style: italic;
    margin: 0px !important;
}

.nav-link.active, .active > .nav-link {
    color: yellow !important;
}
